<!-- Main Content -->
<main class="container mx-auto px-4 py-8">
  <h2 class="text-2xl font-bold mb-4">Create a New Blog Post</h2>
    <form action="/addblog" method="POST">
      <!-- Blog Title -->
      <div class="mb-4">
        <label for="title" class="block mb-2 font-semibold">Title:</label>
        <input type="text" id="title" name="title" required class="w-full border border-gray-300 rounded py-2 px-3">
      </div>

      <!-- Excerpt -->
      <div class="mb-4">
        <label for="excerpt" class="block mb-2 font-semibold">Excerpt:</label>
        <textarea id="excerpt" name="excerpt" required class="w-full border border-gray-300 rounded py-2 px-3"></textarea>
      </div>

      <!-- Content -->
      <div class="mb-4">
        <label for="content" class="block mb-2 font-semibold">Content:</label>
        <textarea id="content" name="content" rows="10" required class="w-full border border-gray-300 rounded py-2 px-3"></textarea>
      </div>

      <input type="hidden" name="userId" value="{{userId}}">

      <!-- Submit Button -->
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Submit</button>
    </form>
</main>
