<head>
    <h1>Welcome to my Developer blog</h1>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="./assets/DB.png" class="flex container h-6 w-6" alt="icon">
        </div>


    <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary" href="/">
                    <strong>Home</strong>
                </a>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/login">
                        <strong>Login</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>

